*, ::before, ::after {
  margin: 0;
  padding: 0;
}

#navbar {
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#navbar:hover {
  background-color: rgba(0, 0, 0, 1);
}

#navbar ul {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

#navbar a {
  text-decoration: none;
  font-size: 2em;
  margin-right: 48px;
  font-family: Helvetica;
  color: rgb(240, 240, 240);
}

#navbar a:hover {
  color: white;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}


#welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(200, 16, 46, 1) 33%, rgba(200, 16, 46, 1) 33%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 66%, rgba(0,61,165, 1) 66%, rgba(0,61,165, 1) 99%);
}

#welcome-section h1 {
  font-family: Monospace;
  font-size: 4em;
  margin-bottom: 0.2em;
}

#welcome-section p {
  font-family: 'Courier New';
  font-size: 1.3em;
}

#projects{
  display: flex;
  width: 100%;
}

.project-info {
  display: flex;
  height: 10vh;
  font-size: 1.6em;
  align-items: center;
  justify-content: center;
  font-family: Helvetica;
  font-style: italic;
}

.project-tile img {
  width: 100%;
  border-bottom: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.project-tile {
  text-decoration: none;
  color: white;
  margin: 3em;
  background-color: black;
  margin-top: 15vh;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.project-tile:hover {
  border-radius: 25px;
  background-color: lightgray;
}


.project-tile p:hover {
  background-color: lightgray;
  color: black;
}

.project-tile p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-height: 30px;
  padding: 20px 0;
  font-size: 1.6em;
  overflow-y: hidden;
  font-family: Helvetica;
  background-color: black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#contact {
  width: 100%;
  text-align: center;
  padding: 5em 0;
  font-family: Helvetica;
  font-size: 1.5em;
}

#contact p {
  margin-top: 0.3em;
  margin-bottom: 1em;
}

#profile-link {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
}

#profile-link:hover {
  background-color: black;
  color: white;
  border-radius: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

footer p {
  padding: 5vh 0;
  text-align: center;
  font-size: 18px;
  font-family: 'Courier New';
}

@media only screen and (max-width: 1100px) {
  #projects {
  flex-direction: column;
}
  #contact {
  font-size: 1.2em;
}

  .project-info {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 700px) {
  #navbar {
    height: 8vh;
  }
  #navbar ul {
    justify-content: space-evenly;
  }

  #navbar a {
    font-size: 1.5em;
    padding: 0;
  }

  #welcome-section h1 {
    font-size: 2.9em;
  }

  #welcome-section p {
    font-size: 0.7em;
  }

  .project-info {
    font-size: 1em;
  }

  .project-tile {
    margin: 3em;
  }

  .project-tile:first-of-type {
    margin-top: 15vh;
  }
}