* {
  margin: 0;
  font-size: 16px;
  font-family: Tahoma;
}

#navbar {
  height: 100%;
  width: 20vw;
  float: left;
  position: fixed;          
  background-color: #f1f1f1;
  border-right: 2px solid black

}

nav header {
  font-size: 1.8em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

nav a:hover {
  color: rgb(100,200,104);
}

nav li {
  padding: 20px 0;
  display: block;
}

.main-section header {
  display: block;
  font-size: 2em;
  padding: 1em 2em;
  margin-left: 19.5vw;
}

#editors li {
  margin-left: 26vw;
  padding-top: 1em;
}

#editors li:last-of-type {
  padding-bottom: 2em;
}

p {
  font-size: 1.2em;
  padding: 0.1em 2em;
  margin-left: 23vw;
  margin-bottom: 0.5em;
}

code {
  font-size: 1.2em;
  margin-left: 30vw;
  display: block;
  padding: 0.5em 0;
}

#attributes p:last-of-type {
  margin-bottom: 2em;
}

@media (max-width: 1300px) {

  #navbar {
    height: 12%;
    border: none;
    width: 100%;
  }

  nav header {
    border: none;
    border-right: 2px solid black;
    width: 30%;
    padding: 0.2em;
    padding-left: 0;
    text-align: center;
    float: left;
    position: relative;
  }

  nav li {
    display: inline-block;
    padding-left: 3em;
    padding-top: 2.4em;
  }

  #editors li {
    margin-left: 4em;
    padding-top: 1em;
  }

  #introduction {
    padding-top: 6em;
  }

  .main-section header {
  margin-left: 0;
}

p {
  margin-left: 2em;
}

code {
    margin-left: 11vw;

}
}

@media (max-width: 1131px) {
  nav li a {
    color: rgba(0,0,0,0);
  }

  nav header {
    color: rgba(0,0,0,1);
    border: none;
    width: 70%;
  }

  #navbar {
    width: 100%;
  }

  nav a:hover {
  color: rgba(100,200,104,0);
}

nav a {
  cursor: default;
}

nav ul li {
  font-size: 0;
}

code {
    margin-left: 15vw;

}

}
